@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal Menu */
.showCarrito {
    right: 0%;
    animation: showframeCarrito 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.showNotCarrito {
    right: 0%;
    animation: shownotframeCarrito 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
}

@keyframes showframeCarrito {
    0% {
        transform: translatex(-65px);
        opacity: 0;
    }
    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}
@keyframes shownotframeCarrito {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }
    100% {
        transform: translatex(-65px);
        opacity: 0;
    }
}

/* Modal Abm */
.showAbm {
    right: 0%;
    animation: showframeAbm 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.showNotAbm {
    right: 0%;
    animation: shownotframeAbm 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes showframeAbm {
    0% {
        transform: translatex(500px);
        opacity: 0;
    }
    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}
@keyframes shownotframeAbm {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }
    100% {
        transform: translatex(500px);
        opacity: 0;
    }
}

/* Boton menu */
/* From Uiverse.io by Ali-Tahmazi99 */
input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

.bar {
    display: block;
    position: relative;
    cursor: pointer;
    /* width: 50px;
    height: 40px; */

    width: 30px;
    height: 30px;
}

.bar span {
    position: absolute;
    width: 30px;
    height: 6px;
    background: #cfd8fe;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
}

.bar span.top {
    top: 0;
}

.bar span.middle {
    top: 13px;
}

.bar span.bottom {
    bottom: 0;
}

input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 35px;
    left: 5px;
}

input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 35px;
    bottom: -1px;
    /* box-shadow: 0 0 10px #495057; */
}

input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
}

/* Texto Logo */
.sombras {
    & h1 {
        color: white;
        text-shadow: 1px 1px 4px #234cff, 0px 0px 10px #cfd8fe;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 10px;
    }
}

/* Grilla contactos */
.Grilla-Contactos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

/* Spinner */
/* From Uiverse.io by alexruix */
.loader {
    width: 80px;
    height: 50px;
    position: relative;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #5118fd;
    animation: text_713 3.5s ease both infinite;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.load {
    background-color: #9a79ff;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #d1c2ff;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}

body.menu-open {
    overflow: hidden;
}
